@use './utils/colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 83.2px;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: $pure-white;
	font-size: 1.6rem;
}

