$pure-white: rgb(255, 255, 255);
$light-white: rgb(245, 245, 245);
$main-dark: rgb(0, 0, 0);
$secondary-dark: rgb(125, 125, 125);
$green: rgb(14, 219, 14);

$hero-img-shadow: linear-gradient(45deg, rgba(0, 0, 0, .7),rgba(0, 0, 0, .6));

