.about-us {
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__img {
		width: 100%;
		margin-bottom: 1em;
	}

	&__title {
		margin-bottom: 1em;
	}

	&__text {
		font-size: 1.4rem;
		line-height: 1.4;
	}
}

@media (min-width: 768px) {
	.about-us {
		&__box {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&-info {
				width: 55%;
			}

			&-img {
				width: 40%;
			}
		}

		&__text {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 992px) {
	.about-us {
		&__box {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;

			&-info {
				width: 50%;
			}

			&-img {
				width: 45%;
			}
		}

		&__title {
			font-size: 2.4rem;
			margin-bottom: 1em;
		}

		&__text {
			font-size: 1.8rem;
			line-height: 1.8;
		}
	}
}
