@use '../utils/colors' as *;
@use '../components/wrapper' as *;

.nav {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 5.2em;
	background-color: $pure-white;

	&-mobile {
		display: flex;
		width: 100%;
		height: 100%;
		padding: 0 0.5em 0 1em;
		justify-content: space-between;
		align-items: center;

		&__brand {
			display: flex;
			font-size: 3.4rem;
			text-decoration: none;
			color: $main-dark;

			&-logo {
				width: 23px;
				margin-right: 0.2em;
			}
		}
	}

	&-items {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 2em;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: $pure-white;
		transform: translateX(100%);
		transition: transform 0.5s;
	}

	&-item {
		position: relative;
		margin-bottom: 1em;
		font-size: 3.2rem;
		color: $main-dark;
		text-decoration: none;
		transition: color 0.3s;

		&::before {
			display: block;
			position: absolute;
			z-index: -1;
			bottom: -30%;
			left: -20%;
			width: 140%;
			height: 160%;
			background-color: $main-dark;
			transition: width 0.3s;
			opacity: 0;
			content: '';
		}

		&:hover::before {
			opacity: 1;
		}
		&:hover {
			color: $pure-white;
		}
	}

	.active {
		transform: translateX(0%);
	}

	&-desktop {
		display: none;
		font-size: 0;
		padding: 0 24px 0 32px;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
	}

	.nav-item__desktop {
		font-size: 1.8rem;
		text-decoration: none;
		padding: 3em 2em;
		margin: 0;
		color: $main-dark;
		transition: all 0.3s;

		&:hover {
			background-color: $main-dark;
			color: $pure-white;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&-mobile {
			padding: 0 1.5em 0 2em;
		}

		&-item {
			font-size: 4.4rem;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&-mobile {
			display: none;
		}

		&-desktop {
			display: flex;
		}
	}
}
